
= render "shared/header"
= render "shared/main1"
= render "shared/main2"
= render "shared/main3"
= render "shared/main4"
= render "shared/main5"
= render "shared/main6"
= render "shared/bunner"
= render "shared/footer"
= render "shared/photo-btn"