.all
  .wrapper
    = render "/shared/header"

  .sale
    .sale__files
      =form_with(model: @item, local: true) do |f|
        %h2.sale__files__head
          商品の情報を入力
        .sale__files__form
          .sale__files__form__upload
            %h3.sale__files__form__upload__head
              出品画像
              %span.require 必須
            %p 最大5枚までアップロードできます
            .post__drop__box__container
              .prev-content
              .label-content
                %label{for: "item_photos_attributes_0_image", class: "abel-box", id: "label-box--0"}
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :photos do |i|
                  = i.file_field :image, class: "hidden-field"
                  %input{class:"hidden-field", type: "file", name: "item[photos_attributes][1][image]", id: "item_photos_attributes_1_image" }
                  %input{class:"hidden-field", type: "file", name: "item[photos_attributes][2][image]", id: "item_photos_attributes_2_image" }
                  %input{class:"hidden-field", type: "file", name: "item[photos_attributes][3][image]", id: "item_photos_attributes_3_image" }
                  %input{class:"hidden-field", type: "file", name: "item[photos_attributes][4][image]", id: "item_photos_attributes_4_image" }
      
        

        -# #image-box
        -#   = f.fields_for :photos do |f|
        -#     .js-file_group{"data-index" => "#{f.index}"}
        -#       = f.file_field :image, class: 'js-file'
        -#       %br/
        -#       %span.js-remove 削除



        -# = f.label :image, class: "image" do
        -#   =fa_icon 'image',class:'sale__files__img1'
        -#   = f.file_field :image, class: 'image__file1'
        -# = f.label :image, class: "image2" do
        -#   =fa_icon 'image',class:'sale__files__img2'
        -#   = f.file_field :image, class: 'image__file2'
        -# = f.label :image, class: "image3" do
        -#   =fa_icon 'image',class:'sale__files__img3'
        -#   = f.file_field :image, class: 'image__file3'

        .sale__files__name
          .sale__files__name__comment1
            .sale__files__name__comment1__box1
              商品名
            .sale__files__name__comment1__box2
              ※必須
          .sale__files__name__form
            = f.text_field :name, placeholder: "商品名を入力",class:"sale__files__name__form__input"
        .sale__files__description
          .sale__files__description__comment2
            .sale__files__description__comment2__box3
              商品説明
            .sale__files__description__comment2__box4
              ※必須
          .sale__files__description__form
            = f.text_field :description, placeholder: "商品説明を入力",class:"sale__files__description__form__input"
        .sale__files__categori
          .sale__files__categori__comment3
            .sale__files__categori__comment3__box5
              カテゴリ
            .sale__files__categori__comment3__box6
              ※必須
          .sale__files__categori__form
            = f.text_field :category, placeholder: "カテゴリを入力",class:"sale__files__categori__form__input"
        .sale__files__brand
          .sale__files__brand__comment4
            .sale__files__brand__comment4__box7
              ブランド
            .sale__files__brand__comment4__space
            ="　　　"
          .sale__files__brand__form
            = f.text_field :brand, placeholder: "ブランド名を入力",class:"sale__files__brand__form__input"
        .sale__files__status
          .sale__files__status__comment9
            .sale__files__status__comment9__box16
              商品の状態
            .sale__files__status__comment9__box17
              ※必須
          .sale__files__status__form
            = f.text_field :status, placeholder: "状態を入力",class:"sale__files__status__form__input"
        .sale__files__postage
          .sale__files__postage__comment5
            .sale__files__postage__comment5__box8
              配送料の負担
            .sale__files__postage__comment5__box9
              ※必須
          .sale__files__postage__form
            = f.text_field :shipping_charges, placeholder: "送料負担者を入力",class:"sale__files__postage__form__input"
        .sale__files__shipping
          .sale__files__shipping__comment6
            .sale__files__shipping__comment6__box10
              発送日の目安
            .sale__files__shipping__comment6__box11
              ※必須
          .sale__files__shipping__form
            = f.text_field :days_to_ship, placeholder: "発送日の目安を入力",class:"sale__files__shipping__form__input"
        .sale__files__area
          .sale__files__area__comment8
            .sale__files__area__comment8__box14
              発送元
            .sale__files__area__comment8__box15
              ※必須
          .sale__files__area__form
            = f.collection_select :area, Prefecture.all, :id, :name,class:"sale__files__area__form__input"
        .sale__files__price
          .sale__files__price__comment7
            .sale__files__price__comment7__box12
              商品価格
            .sale__files__price__comment7__box13
              ※必須
          .sale__files__price__form
            = f.text_field :price, placeholder: "価格を入力",class:"sale__files__price__form__input"
        =  f.submit "出品",class:"sale__files__submit"
        .footer
          =render "/shared/footer"