.all
  .wrapper
    = render "/shared/header"

  .main
    .main__show
      .main__show__contents
        .top__contents
          .item__box
            .product
              商品：ステーキ
            .img__box
              = image_tag "stake.png", size: "560x346"
              .img__box1
                = image_tag "stake.png", size: "140x87"
                = image_tag "stake.png", size: "140x87"
                = image_tag "stake.png", size: "140x87"
            .price__box
              .price1
                ¥30000
              .price2
                (税込)送料込み
            .detail
              %ul
                %li
                  商品の詳細を書いていく所、長文になる可能性がある
                %li
                  商品の詳細を書いていく所、長文になる可能性がある
                %li
                  商品の詳細を書いていく所、長文になる可能性がある
                %li
                  商品の詳細を書いていく所、長文になる可能性がある               
            .table
              .table__left
                .left1
                  出品者
                .left2
                  カテゴリー
                .left3
                  ブランド
                .left4
                  配送料
                .left5
                  地域
                .left6
                  発送目安
              .table__right
                .right1
                  フリマ太郎
                .right2
                  女性服
                .right3
                  なんか高級
                .right4
                  無料
                .right5
                  どこか
                .right6
                  １週間           
            .tag
              .left
                %ul
                  %i
                    = fa_icon 'star'
                  %a
                    = link_to '購入画面に進む', 'edit_item_path'

              .center
                %ul
                  %i
                    = fa_icon 'star'
                  %a
                    = link_to '商品を編集する', 'edit_item_path'
              .right  
                %ul
                  %i
                    = fa_icon 'flag'
                  %a
                  = link_to '商品を削除する', 'edit_item_path'
            
          .middle__contents
            .content
              .text
              -#  = form_with  root do |form|
              -#  = form.text_area :text, placeholder: "No Message"

              .text2
                コメントの履歴
              .button
                %ul
                  %i
                    = fa_icon 'comment'
                  %a
                    コメントする
        .option__area
          .left
            -# =link to 
            ＜前の商品
          .right
            -# =link to 
            後ろの商品＞      
        .relateditems
          -# =link to 
          商品をもっと見る
  .footer
    =render "/shared/bunner"        
  .footer
    =render "/shared/footer"