.all
  .wrapper
    = render "/shared/header"

  .main
    .main__show
      .main__show__contents
        .top__contents
          .item__box
            .product
              商品：
              = @item.name
            .img__box
              = image_tag "stake.png", size: "560x346"
              .img__box1
                = image_tag "stake.png", size: "140x87"
                = image_tag "stake.png", size: "140x87"
                = image_tag "stake.png", size: "140x87"
            .price__box
              .price1
                = @item.price
              .price2
                (税込)送料込み
            .detail
              = simple_format @item.description              
            .table
              .table__left
                .left1
                  出品者
                .left2
                  カテゴリー
                .left3
                  ブランド
                .left4
                  配送料
                .left5
                  地域
                .left6
                  発送目安
              .table__right
                .right1
                  = @item.saler.nickname
                .right2
                  = @item.category_id
                .right3
                  = @item.brand
                .right4
                  = @item.shipping_charges
                .right5
                  = @item.area
                .right6
                  = @item.days_to_ship        
            .tag
              - if user_signed_in?
                .left
                  =link_to edit_item_path(@item.id) do
                    編集する
              -#       %ul
              -#         %a
              -#           = fa_icon 'star'
              -#           = link_to '商品を編集する', 'edit_item_path'
              -#   .right
              -#     =link_to destroy_user_session_path, method: :delete do
              -#       %ul
              -#         %a
              -#           = fa_icon 'flag'
              -#           = link_to '商品を削除する', 'edit_item_path'      
              -# - else 
              -#   .center
              -#     =link_to edit_item_path do
              -#       %ul
              -#         %a
              -#           = fa_icon 'star'
              -#           = link_to '商品を購入する', 'edit_item_path'    

                -# .right  
                -#   =link_to destroy_user_session_path, method: :delete do
                -#     %ul
                -#       %a
                -#         = link_to '商品を削除する', 'edit_item_path'
            
          .middle__contents
            .content
              .text
              -#  = form_with  root do |form|
              -#  = form.text_area :text, placeholder: "No Message"

              .text2
                コメントの履歴
              .button
                %ul
                  %i
                    = fa_icon 'comment'
                  %a
                    コメントする
        .option__area
          .left 
            ＜前の商品
          .right    
            後ろの商品＞      
        .relateditems 
          商品をもっと見る
    -# .footer
    -#   = render "/shared/bunner"        
    .footer
      = render "/shared/footer"